body {
    background-color: black;
   
   }

* {
    background-color: black;
}

pre {
    background-color: yellow;
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin-left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';

 
}
.move {
    margin-left: 90px;

}

img {
    width: 25%;

}

.enter
{
 margin: 10px;
 margin-left: 80px;
 background-color: white;
 width: 700px;
 height: 50px;
 text-align: center;


}

.form-control {
    color: white;
    margin: 5px; 
    border: 20px;
    font-size: 1.5em;
    width: 400px;
    margin-left: 5px;
  

}