body {
    background-color: white;
    font-family: 'Lato', sans-serif;
   
}

* {
    background-color: black;
}

pre {
    background-color: yellow;
    overflow: hidden;
    float: right;
    text-align: left ;
    width: 420px;;
 

}

img {
    width: 25%;
}

.form-control[readonly] {
    color: white;
    margin: 5px;
    border: 20px;
    font-size: 1.5em;
 
}